@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-up {
    animation: fadeUp 1s ease forwards;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-shimmer {
    background: linear-gradient(to right,
        transparent 0%,
        rgba(255, 255, 255, 0.4) 50%,
        transparent 100%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
  }

  .bg-gradient-border {
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 300% 300%;
    animation: animatedgradient 3s ease alternate infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Custom scrollbar if desired */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #02adc7;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #009eb5;
}